.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal {
    padding: var(--gap-5);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-accent);
    background-color: var(--bg-secondary);
}